<h1>New Result</h1>

<%= form_with model: @result do |form| %>
  <div>
    <%= form.label :clientref %><br>
    <%= form.text_field :clientref %>
    <% @result.errors.full_messages_for(:clientref).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :firstname %><br>
    <%= form.text_area :firstname %>
    <% @result.errors.full_messages_for(:firstname).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
